In [1]:
import numpy as np
import pandas as pd

input_path = "C:/Users/antho/OneDrive/Documents/Repositories/delapan-fantasy/data/models/training_inputs/by_slate/training_inputs_20250205.parquet"

inputs = pd.read_parquet(input_path)

display(inputs.head())

,pts_avg_3,pts_std_3,pts_min_3,pts_max_3,pts_avg_10,pts_std_10,pts_min_10,pts_max_10,pts_ewma,reb_avg_3,...,usage_std_3,usage_min_3,usage_max_3,usage_avg_10,usage_std_10,usage_min_10,usage_max_10,usage_ewma,games_played,target
0,10.666667,4.041452,7,15,10.666667,4.041452,7,15,11.000000,5.333333,...,2.551085,15.67,20.76,18.113333,2.551085,15.67,20.76,18.430000,3,32.50
1,11.666667,4.163332,7,15,11.250000,3.500000,7,15,11.666667,4.666667,...,2.366101,15.67,20.40,18.685000,2.376110,15.67,20.76,19.086667,4,17.25
2,13.333333,1.527525,12,15,11.400000,3.049590,7,15,11.777778,4.333333,...,2.772165,15.53,20.40,18.054000,2.495041,15.53,20.76,17.901111,5,19.00
3,10.333333,3.785939,6,13,10.500000,3.507136,6,15,9.851852,5.000000,...,3.926402,12.63,20.40,17.150000,3.143800,12.63,20.76,16.144074,6,32.00
4,10.333333,3.785939,6,13,10.857143,3.338092,6,15,10.901235,5.000000,...,1.864439,12.63,16.11,17.001429,2.896679,12.63,20.76,16.132716,7,15.25

In [ ]:
import sys
from pathlib import Path
import logging
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

repo_root = Path.cwd().parent
if str(repo_root) not in sys.path:
    sys.path.insert(0, str(repo_root))

from src.utils.fantasy_points import calculate_dk_fantasy_points

In [4]:
calculate_dk_fantasy_points(inputs)

0.0